<a href="https://colab.research.google.com/github/ira75121368/Pandas_practice_on_a_Titanic_db/blob/main/Titanic_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

In [4]:
df.count()

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

In [5]:
cleaned_df = df.dropna()
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182 entries, 1 to 889
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     182 non-null    int64
 1   pclass       182 non-null    int64
 2   sex          182 non-null    object
 3   age          182 non-null    float64
 4   sibsp        182 non-null    int64
 5   parch        182 non-null    int64
 6   fare         182 non-null    float64
 7   embarked     182 non-null    object
 8   class        182 non-null    object
 9   who          182 non-null    object
 10  adult_male   182 non-null    bool
 11  deck         182 non-null    object
 12  embark_town  182 non-null    object
 13  alive        182 non-null    object
 14  alone        182 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 20.3+ KB

# **Group by блок**

In [6]:
cleaned_df['fare'].agg(['max', 'min'])

max    512.3292
min      0.0000
Name: fare, dtype: float64

In [7]:
cleaned_df.groupby('pclass').size() # Сколько людей в каждом классе после Group by
cleaned_df['pclass'].value_counts() # Сколько людей в каждом классе

pclass
1    157
2     15
3     10
Name: count, dtype: int64

In [8]:
cleaned_df.groupby('sex')['age'].describe()

        count       mean        std   min    25%    50%   75%   max
sex
female   88.0  32.676136  14.240552  2.00  22.75  32.25  41.5  63.0
male     94.0  38.382128  16.503731  0.92  28.00  37.00  49.0  80.0

In [9]:
cleaned_df.groupby('pclass')['age'].mean()

pclass
1    37.544076
2    25.266667
3    21.000000
Name: age, dtype: float64

In [10]:
cleaned_df.groupby(['pclass', 'sex'])['age'].median() #

pclass  sex
1       female    34.0
        male      40.0
2       female    29.0
        male      18.5
3       female    24.0
        male      25.0
Name: age, dtype: float64

In [11]:
df.groupby('pclass')['survived'].mean() # доля выживших в каждом классе

pclass
1    0.629630
2    0.472826
3    0.242363
Name: survived, dtype: float64

In [34]:
# Посчитай долю выживших для каждой комбинации (sex, pclass). Определи, у какой группы шансы на выживание были выше всего
df_survived_filter = df.groupby(['sex', 'pclass'])['survived'].mean().sort_values(ascending = False)
df_survived_filter.head(3)

sex     pclass
female  1         0.968085
        2         0.921053
        3         0.500000
Name: survived, dtype: float64

In [12]:
df.groupby(['sex', 'pclass'])['fare'].mean() # средняя стоимость билета по полу и классу одновременно

sex     pclass
female  1         106.125798
        2          21.970121
        3          16.118810
male    1          67.226127
        2          19.741782
        3          12.661633
Name: fare, dtype: float64

In [13]:
df.groupby(['sex', 'pclass'])['who'].count() # Сколько пассажиров каждого пола в каждом классе

sex     pclass
female  1          94
        2          76
        3         144
male    1         122
        2         108
        3         347
Name: who, dtype: int64

# **Value_counts блок**

In [14]:
# Сколько человек ехало в каждом классе
df['pclass'].value_counts()

pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [15]:
# Сколько женщин и мужчин было на борту
df['sex'].value_counts()

sex
male      577
female    314
Name: count, dtype: int64

In [16]:
# Сколько уникальных значений у порта посадки (embarked) ....
df['embarked'].nunique()

3

In [17]:
# .... и как они распределились
df['embarked'].value_counts()

embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [18]:
# Какие уникальные значения у порта посадки (embarked) ....
df['embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

# **Блок фильтров**

In [19]:
# Выбери пассажиров младше 18 лет. Сколько их?
less_eighteen = df[df['age'] < 18]
less_eighteen
len(less_eighteen)

113

In [20]:
# Найди женщин 1-го класса старше 30 лет
woman_first_class_more_thirty = df[(df['pclass'] == 1) & (df['age'] > 30)]
woman_first_class_more_thirty

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
30,0,1,male,40.0,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,1,1,female,48.0,0,0,25.9292,S,First,woman,False,D,Southampton,yes,True
867,0,1,male,31.0,0,0,50.4958,S,First,man,True,A,Southampton,no,True
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False

In [21]:
# Посчитай, сколько пассажиров с ценой билета выше 100 выжило
len(df[(df['fare'] > 100) & (df['survived'] == 1)])

39

In [22]:
# Выбери пассажиров без информации об возрасте
age_null = df[df['age'].isnull()]
age_null

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [23]:
df.pivot_table(values='survived', index='pclass', columns='sex', aggfunc='mean')

sex       female      male
pclass
1       0.968085  0.368852
2       0.921053  0.157407
3       0.500000  0.135447

In [24]:
# Для каждого столбца посчитай долю пропущенных значений.
is_null_column = df.isnull().mean().sort_values(ascending=False)
# Найди топ-3 столбца с наибольшим количеством пропусков.
is_null_column.head(3)

deck        0.772166
age         0.198653
embarked    0.002245
dtype: float64

In [25]:
# Найди средний, медианный и стандартное отклонение возраста по каждому классу
df.groupby('pclass')['age'].agg(['mean', 'median', 'std'])

             mean  median        std
pclass
1       38.233441    37.0  14.802856
2       29.877630    29.0  14.001077
3       25.140620    24.0  12.495398

sex     pclass
female  1         0.968085
        2         0.921053
        3         0.500000
Name: survived, dtype: float64

# **Plot блок**

In [ ]:
cleaned_df.groupby('sex')['age'].plot(kind='kde', xlim=[0,90], legend = True)

In [ ]:
# Построй распределение возраста отдельно для выживших и невыживших
df.groupby('survived')['age'].plot(kind = 'kde', xlim = [0,90])